// -------------------------------------- website color

$website-color-base: #000
$website-color-secondary: #fff  
    
// -------------------------------------- container padding & width : ($container-padding) also sets column padding and negative row margin

$container-width: 1230px
$container-padding: 20px

// -------------------------------------- section margin

$margin-base: 60px
    
// -------------------------------------- font family

$font-family-base: serif
$font-family-header: sans-serif

// -------------------------------------- typography settings

$font-size-base: 18px
$line-height-base: 1.48rem
$scale-factor: 1.618

// -------------------------------------- font color

$font-color-base: #000
$font-color-header: #000
$font-color-subheader: #000 
$font-color-copy: #000

// -------------------------------------- link behavior

$link-decoration: none !important
$link-hover-decoration: none !important

// -------------------------------------- link color

$link-color-base: #000
$link-color-hover: none

// -------------------------------------- background color

$background-color: #fff


/* notes  
    
    responsive letter spacing formula: calc((x)px - (0.0y)em) 

    container padding usually between 10 - 40px or 1.66667rem

    recommended max-width for text - 560px
