@import './_normalize'
@import './_variables'
    
// container
    
.container
  margin-left: auto
  margin-right: auto
  padding: 0 1.66667rem
  max-width: $container-width
  display: flex
  flex-wrap: wrap
  width: 100%

// row

.row
  margin-left: -$column-padding
  margin-right: -$column-padding
  flex: auto
  width: 100%
  display: flex
  flex-flow: row wrap
  position: relative

// column

.column
  padding-right: $column-padding
  padding-left: $column-padding
  box-sizing: border-box

.col-12 
  width: 100%
  max-width: 100%
  flex-basis: 100%

.col-11
  width: 91.66667%
  max-width: 91.66667%
  flex-basis: 91.66667%

.col-10
  width: 83.33333%
  max-width: 83.33333%
  flex-basis: 83.33333%

.col-9
  width: 75%
  max-width: 75%
  flex-basis: 75%

.col-8
  width: 66.66667%
  max-width: 66.66667%
  flex-basis: 66.66667%

.col-7
  width: 58.33333%
  max-width: 58.33333%
  flex-basis: 58.33333%

.col-6
  width: 50%
  max-width: 50%
  flex-basis: 50%

.col-5
  width: 41.66667%
  max-width: 41.66667%
  flex-basis: 41.66667%

.col-4
  width: 33.33333%
  max-width: 33.33333%
  flex-basis: 33.33333%

.col-3
  width: 25%
  max-width: 25%
  flex-basis: 25%

.col-2
  width: 16.66667%
  max-width: 16.66667%
  flex-basis: 16.66667%

.col-1
  width: 8.33333%
  max-width: 8.33333%
  flex-basis: 8.33333%

